<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book1 %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr class="book_<%=@book.id%>">
					<%= render 'show', book: @book %>
				</tr>
		</table>

		<div class="comments_table">
			<%= render 'comments', book: @book, book_comment: @book_comment %>
		</div>
	</div>
</div>

